<form [formGroup]="dateForm" (ngSubmit)="onSubmit()" class="date-inputs">
  <mat-form-field class="example-full-width">
    <mat-label>Startdatum</mat-label>
    <input matInput type="datetime-local" formControlName="startDate">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Enddatum</mat-label>
    <input matInput type="datetime-local" formControlName="endDate">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Filtern</button>
</form>

<app-measurements-graph
  [measurements]="(measurements$ | async) || []"
></app-measurements-graph>

<app-measurements-list
  [measurements]="(measurements$ | async) || []"
></app-measurements-list>

